*{margin:0; padding:0;}

html, body{width:100%; height:100%;background:#eee}
.main {width:100%;min-height:100%;position:relative;z-index:10;}
.main:after
{
position:absolute;
top:0;
height:100%;
width:15%;
background-color:#ccc;
display:block;
z-index:1;
content:' ';
}
.main:after{right:0;}
.middle:after
{
height:50px;
display:block;
width:100% px;
clear:both;
content:' ';
}
.footer-wrap{margin-top:-50px;position:relative;z-index:20;}
.header-wrap,.middle{z-index:2;position:relative;}
.header{height:10%;}
.footer{height:50px;}
.menu, .sidebar{width:15%;background-color:#ccc; vertical-align:top;}
.sidebar{float:right;min-height:10px;}
.header,.footer{background-color:#333}
.siteName, .footer a
{
color:#eee;
font-style:italic;
text-align:center;
font-weight:bold;
display:block;
position:relative;
top:50%;
}
.siteName {font-size:36px;}
.footer a{font-size:16px;}
.menu ul{list-style:none;}
.menu ul li
{ text-align:center;
word-break:break-all;

}

.menu a 
{
display:block;
padding:15px;
text-decoration:none;
font-size:16px;
color:#333;
width:82%;
border-bottom:1px solid #eee;
/*box-sizing:border-box;*/
}
.menu a:hover /*псевдокласс для анимации кнопки*/
{
background-color:#333;
color:#ffffff;
}
.content
{
padding: 20 px 10 px;
text-align:justify;
font-size:14px;
line-height:1.5;
background:#eee;
overflow:hidden;
margin-left: 30 px;
}



@media (max-width:767px){
    .menu  {
        display: block;
        position: relative;
        width:30px;
        height:15px;
    }
    .menu span{
        position: absolute;
        background-color: #eee;
        position: absolute;
        width:100%;
        height:2px;
        left:0 ;
        top: 9;
    }
    .menu :before,
    .menu :after {
        content:' ';
        background-color: #eee;
        position: absolute;
        width:180%;
        height:2px;
        left:0 ;
        
    }
    .menu :before{
        top:0;
    }
    .menu :after{
        bottom:0;


    }
    .image {
        width: 240px;
        height: 360px;
    }
    .content {
        margin-left: 60px;
    }   
}
